.container {
  background-color: #cee3f8;
  color: #1b1b1b;
  padding: 20px;
  border: 1px solid #ff4500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 36%;
}

.login-header {
  text-align: center; 
  margin-bottom: 20px; 
  color: #1b1b1b; 
  font-size: 2.2rem;
}

.form-group label {
  color: #1b1b1b;
}

.form-control {
  background-color: #fff;
  color: #1b1b1b;
  border: 1px solid #ff4500;
}

.btn-primary {
  background-color: #ff4500;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
}

.btn-primary:hover {
  background-color: #f38157;
  color: #f5f5f5d1;
}

.alert {
  background-color: #fff;
  color: #ff4500;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
}